.button {
-fx-background-color: transparent;
-fx-text-fill: #04364A;
    -fx-font-family: "#9Slide03 Cabin Bold";
    -fx-font-size: 16px;
    -fx-background-radius: 50px;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #04364A;
    -fx-border-radius: 50px;
}
.button:hover{
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: #27374D;
    -fx-text-fill:#DDE6ED ;
    -fx-font: 19px;
}


.text-field {
    -fx-font-family: "#9Slide03 AmpleSoft", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #176B87; /* Default text color */
    -fx-background-color: transparent; /* Transparent background */
    -fx-padding: 0 0 5 0; /* Adjust padding to leave space for the underline */
    -fx-border-width: 0 0 1 0; /* Add a bottom border for the underline */
    -fx-border-color: #04364A /* Underline color */
}

.text-field:hover {
    -fx-border-color: #176B87; /* Hover effect for the underline */
    -fx-text-fill: #176B87; /* Text color on hover */
}

.text-field:focused {
    -fx-border-color: #176B87; /* Focus effect for the underline */
    -fx-text-fill: #176B87; /* Text color on focus */
}

.text-field:disabled {
    -fx-text-fill: #176B87; /* Text color when disabled */
    -fx-background-color: transparent; /* Transparent background when disabled */
    -fx-border-color: transparent; /* Transparent border when disabled */
}
.a1 {
     -fx-background-color: #ffffff;
     -fx-background-radius: 30px;
}
.glass-pane {
    -fx-background-color: rgba(255, 255, 255, 0.6); /* Adjust alpha for transparency */
}
.label-class {
    -fx-opacity: 1; /* Bắt đầu với độ mờ là 0 */
    -fx-transition: -fx-opacity 1s;
}

.label-class.show {
    -fx-opacity: 1; /* Khi có class 'show', độ mờ sẽ là 1, hiển thị */
}

.label-class.hide {
    -fx-opacity: 0; /* Khi có class 'hide', độ mờ sẽ là 0, ẩn đi */
}



